#progress {
    width: 300px;
    height: 300px;
}

.bg-dark {
    background-color: #003049 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

h3 {
    color: #000;
    font-size: 1.2em;
}

.passed {
    color: #3e9712;
}

.failed {
    color: #950016;
}

.active {

    background-image: linear-gradient(180deg, lightgray, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
